.additional-product-card__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-product-card__description,
.additional-product-card__price {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
