@use "../variables.scss";

.additional-product {
  padding: 25px 0 32px;
  overflow: hidden;

  @media (min-width: variables.$tablet-width) {
    padding-top: 0;
    padding-bottom: 75px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 86px;
  }
}

.additional-product__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  max-width: 248px;
  padding-right: 21px;
  background-color: #ffffff;
  margin-bottom: 36px;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: 411px;
    padding: 0 36px;
    margin-bottom: 80px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: -36px;
    margin-bottom: 81px;
  }

  &::before {
    position: absolute;
    top: 16px;
    display: block;
    height: 2px;
    width: 100vw;
    background-color: #68b738;
    z-index: -1;

    @media (min-width: variables.$tablet-width) {
      content: "";
      top: 20px;
      left: -700px;
    }

    @media (min-width: variables.$desktop-width) {
      content: "";
      left: -1000px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 100%;
    display: block;
    height: 2px;
    width: 100vw;
    background-color: #68b738;
    z-index: -1;

    @media (min-width: variables.$tablet-width) {
      top: 20px;
    }
  }
}

.additional-product__list {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 0;
  }
}

.additional-product__container {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
