@use "../variables.scss";

.additional-offer {
  padding-bottom: 35px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 245px;
  }
}

.additional-offer__container {
  position: relative;
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background-image/additional-offer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 188px 61px 44px 57px;

  @media (min-width: variables.$tablet-width) {
    padding: 71px 124px 69px 422px;
    background-position: center center, 0 -316px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 185px 42px 42px;
    background-position: center center, -34px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 50%;
    display: block;
    width: 78px;
    height: 80px;
    background: url("../../img/icon/gift.svg");
    transform: translateX(-50%);

    @media (min-width: variables.$tablet-width) {
      top: 57px;
      left: 77px;
    }

    @media (min-width: variables.$desktop-width) {
      top: 56px;
      left: 50%;
    }
  }
}

.additional-offer__description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    text-align: left;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: center;
  }
}
