@use "../variables.scss";

.address__content-container {
  @media (min-width: variables.$desktop-width) {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }
}

.address__container {
  background-color: #f2f2f2;
  padding: 26px 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 58px 70px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    background-color: #ffffff;
    padding: 61px 60px 56px 80px;
  }

  &--secondary {
    background-color: #f2f2f2;

    @media (min-width: variables.$desktop-width) {
      background-color: #ffffff;
    }
  }
}

.address__slogan {
  width: 139px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 163px;
  }
}

.address__building,
.address__city {
  width: 139px;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: variables.$desktop-width) {
    width: 175px;
    text-align: left;
  }
}

.address__building {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 20px;
  }
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
}

.address__map {
  border: none;
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: variables.$tablet-width) {
    height: 400px;
  }
}
