@use "../variables.scss";

.catalog-products {
  padding: 27px 0 25px;

  @media (min-width: variables.$tablet-width) {
    padding: 62px 0 68px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 78px 0 76px;
  }
}

.catalog-products__title {
  line-height: 36px;
  margin-bottom: 49px;

  @media (min-width: variables.$tablet-width) {
    line-height: 60px;
    margin-bottom: 163px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 165px;
  }
}
