@use "../variables.scss";

.catalog-products {
  padding: 27px 0 25px 0;
}

.catalog-products__title {
  line-height: 36px;
  margin-bottom: 49px;
}

@media (min-width: variables.$tablet-width) {
  .catalog-products__title {
    margin-bottom: 82px;
  }
}

@media (min-width: variables.$desktop-width) {
  .catalog-products__title {
    margin-bottom: 84px;
  }
}
