@use "../variables.scss";

.example {
  position: relative;
  padding: 25px 0 40px 0;

  @media (min-width: variables.$tablet-width) {
    padding-top: 0;
    padding-bottom: 100px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 75px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -43px;
    left: -30px;
    display: none;
    height: 1px;
    width: calc(100% + 60px);
    background-color: #e6e6e6;

    @media (min-width: variables.$tablet-width) {
      display: block;
    }

    @media (min-width: variables.$desktop-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    display: block;
    height: 100%;
    width: calc(100% + 40px);
    background-color: #eaeaea;
    z-index: -1;

    @media (min-width: variables.$tablet-width) {
      top: 619px;
      left: -30px;
      height: 462px;
      width: calc(100% + 60px);
    }

    @media (min-width: variables.$desktop-width) {
      top: 136px;
      left: -110px;
      width: calc(100% + 220px);
    }
  }
}

.example__main-container {
  @media (min-width: variables.$desktop-width) {
    display: flex;
  }
}

.example__container {
  @media (min-width: variables.$desktop-width) {
    width: 436px;
    flex-grow: 1;
    margin-right: 224px;
  }
}

.example__title {
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  color: #444444;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 69px;
  }
}

.example__wrapper {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 104px;
  }

  @media (min-width: variables.$desktop-width) {
    display: block;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    justify-content: stretch;
    margin-bottom: 60px;
  }
}

.example__item {
  position: relative;
  width: 124px;
  padding: 15px 20px 18px;
  border: 1px solid #cdcdcd;

  @media (min-width: variables.$tablet-width) {
    width: 162px;
    padding: 15px 30px 20px;
  }

  &:nth-child(2n+1) {
    @media (min-width: variables.$tablet-width) {
      margin-right: 42px;
    }
  }
}

.example__achievement {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__achievement-description {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #eaeaea;
  text-align: center;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    min-width: 125px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @media (min-width: variables.$desktop-width) {
    background-color: #eaeaea;
  }
}

.example__total {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: variables.$mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    margin-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: left;

    br {
      display: none;
    }
  }
}
