@use "../mixins.scss";
@use "../variables.scss";

.food-type {
  padding-bottom: 20px;
}

.food-type__list {
  @include mixins.list-reset;
}

.food-type__item {
  background-color: #f2f2f2;
  padding: 21px 32px 18px 21px;
}

.food-type__item:not(:last-child) {
  margin-bottom: 30px;
}

.food-type__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.food-type__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 4px 47px 4px 0;
  text-decoration: none;
}

@media (min-width: variables.$tablet-width) {
  .food-type__item {
    padding: 77px 61px 53px 53px;
  }

  .food-type__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: variables.$desktop-width) {
  .food-type__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 30px;
  }

  .food-type__item {
    width: 570px;
    padding: 41px 61px 55px 52px;
    margin: 0;
  }

  .food-type__item:not(:last-child) {
    margin-bottom: 0;
  }
}
