@use "../variables.scss";

.food {
  position: relative;
  padding: 27px 0 20px 0;
}

.food__wrapper {
  position: absolute;
  top: 0;
  left: -20px;
  display: block;
  width: 320px;
  height: 302px;
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background-image/food.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.food__title {
  color: #ffffff;
  line-height: 36px;
  text-align: center;
}

.food__subtitle {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.food__button {
  width: 280px;
  height: 40px;
}

@media (min-width: variables.$tablet-width) {
  .food__wrapper {
    display: none;
  }

  .food__title,
  .food__subtitle {
    color: #000000;
    text-align: left;
  }
}

@media (min-width: variables.$desktop-width) {
  .food {
    height: 696px;
  }

  .food__wrapper {
    display: block;
    left: 50%;
    width: 720px;
    height: 694px;
  }

  .food__title,
  .food__subtitle {
    max-width: 50%;
  }
}
