@use "../variables.scss";

.food {
  padding-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 62px;
    padding-bottom: 526px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 0;
    min-height: 668px;
    padding-bottom: 82px;
  }
}

.food__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 320px;
  height: 302px;
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-image/bg-food.jpg");
  background-repeat: no-repeat;
  background-position: center center, -141px center;
  background-size: cover, 170%;
  z-index: -1;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }

  @media (min-width: variables.$desktop-width) {
    display: block;
    top: -109px;
    left: 50%;
    width: 720px;
    height: 694px;
    background-position: center center, -20px center;
    background-size: cover, 147%;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-image/bg-food@2x.jpg");
      background-size: cover, 147%;
      background-position: center center, -20px center;
    }
  }

  @media (min-resolution: 2dppx) {
    background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-image/bg-food@2x.jpg");
    background-size: cover, 170%;
    background-position: center center, -141px center;
    background-repeat: no-repeat;
  }
}

.food__title {
  color: #ffffff;
  line-height: 36px;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    padding-top: 0;
    margin-left: 98px;
    margin-bottom: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 50%;
    padding-top: 114px;
    margin-left: 80px;
    margin-bottom: 40px;
  }
}

.food__subtitle {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin-left: 98px;
    margin-bottom: 49px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 50%;
    margin-left: 80px;
    margin-bottom: 52px;
  }
}

.food__image {
  display: block;
  margin-bottom: 3px;

  @media (min-width: variables.$tablet-width) {
    position: absolute;
    z-index: -1;
    top: 201px;
    left: 0;
    width: 709px;
    height: 609px;
  }

  @media (min-width: variables.$desktop-width) {
    top: 32px;
    left: 558px;
    width: 552px;
    height: 499px;
  }
}

.food__button {
  @media (min-width: variables.$tablet-width) {
    width: 244px;
    height: 54px;
    margin-left: 98px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 80px;
  }
}
