@use "../mixins.scss";
@use "../variables.scss";

.how-it-works {
  padding-bottom: 50px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 90px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 69px;
  }
}

.how-it-works__title {
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 32px;
  }
}

.how-it-works__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 38px;
  }
}

.how-it-works__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  min-height: 60px;

  @media (min-width: variables.$tablet-width) {
    display: block;
    width: 249px;
    margin-bottom: 0;
    padding: 40px 0 57px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 124px;
    margin-bottom: 0;
  }

  &:nth-child(odd) {
    @media (min-width: variables.$tablet-width) {
      margin-right: 136px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-right: 97px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;

    @media (min-width: variables.$tablet-width) {
      position: static;
      margin-bottom: 31px;
      width: 80px;
      height: 80px;
    }
  }

  &--healthy {
    &::before {
      background: url("../img/icon/healthy.svg") no-repeat center center;
      background-color: #68b738;
    }
  }

  &--powder {
    &::before {
      background: url("../img/icon/powder.svg") no-repeat center center;
      background-color: #68b738;
    }
  }

  &--food {
    &::before {
      background: url("../img/icon/food.svg") no-repeat center center;
      background-color: #68b738;
    }
  }

  &--weigher {
    &::before {
      background: url("../img/icon/weigher.svg") no-repeat center center;
      background-color: #68b738;
    }
  }
}

.how-it-works__list .how-it-works__item {
  &--healthy {
    @media (min-width: variables.$desktop-width) {
      width: 230px;
      margin-right: 94px;
    }
  }

  &--powder {
    @media (min-width: variables.$desktop-width) {
      width: 246px;
      margin-right: 77px;
    }
  }

  &--food {
    @media (min-width: variables.$desktop-width) {
      width: 246px;
      margin-right: 80px;
    }
  }

  &--weigher {
    @media (min-width: variables.$desktop-width) {
      width: 246px;
      margin-right: 0;
    }
  }
}

.how-it-works__count {
  display: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 280px;
  line-height: 280px;
  text-align: center;
  color: #f2f2f2;
  width: 136px;
  height: 280px;
  z-index: -1;

  @media (min-width: variables.$tablet-width) {
    position: absolute;
    top: 0;
    right: 4px;
    display: block;
  }

  @media (min-width: variables.$desktop-width) {
    right: -6px;
  }
}

.how-it-works__description {
  margin: 0;
  color: #444444;
  padding-left: 80px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }
}
