@use "../variables.scss";

.main-header {
  padding: 10px 0 18px 0;
  height: 66px;
}

@media (min-width: variables.$tablet-width) {
  .main-header {
    min-height: 54px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-header {
    min-height: 109px;
  }
}
