@use "../variables.scss";

.main-navigation {
  position: relative;
  width: auto;
  background-color: #ffffff;
}

.main-navigation__toggle {
  position: absolute;
  top: -66px;
  right: -20px;
  display: block;
  width: 66px;
  height: 66px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover,
  &:active {
    background-color: darken(#ffffff, 20%);
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 21px;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-navigation--closed .main-navigation__toggle:active::before {
  background-color: lighten(#000000, 30%);
  box-shadow:
    0 8px 0 0 lighten(#000000, 30%),
    0 16px 0 0 lighten(#000000, 30%);
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 21px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    transform: (-50%, -50%);
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: lighten(#000000, 30%);
  }
}

@media (max-width: variables.$mobile-width-only) {
  .main-navigation--closed .site-list__item {
    display: none;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }

  .main-navigation--nojs .site-list__item {
    display: block;
  }

  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    z-index: 10;
    background-color: #ffffff;
  }
}

@media (min-width: variables.$tablet-width) {

}
