@use "../variables.scss";

.main-header {
  min-height: 66px;

  @media (min-width: variables.$tablet-width) {
    min-height: 54px;
    padding-bottom: 62px;
  }

  @media (min-width: variables.$desktop-width) {
    display: flex;
    align-items: flex-end;
    min-height: 109px;
    padding-bottom: 0;
  }
}

.main-header__container {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    align-items: flex-end;
  }
}

.main-header__logo {
  display: flex;
  min-height: 66px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: variables.$mobile-width-only) {
    padding-left: 90px;
    background: url("../../img/icon/icon-logo-mobile-header.svg") no-repeat center left;
    margin: 0 auto;
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 52px;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 59px;
  }
}

.main-header__logo img {
  width: 101px;
  height: 66px;

  @media (min-width: variables.$tablet-width) {
    height: 52px;
  }

  @media (min-width: variables.$desktop-width) {
    height: 59px;
  }
}
