@use "../variables.scss";

.main-header {
  position: relative;
  min-height: 66px;

  @media (min-width: variables.$tablet-width) {
    min-height: 54px;
  }

  @media (min-width: variables.$desktop-width) {
    display: flex;
    align-items: flex-end;
    min-height: 109px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    height: 1px;
    width: 320px;
    background-color: #d9d9d9;
    transform: translateX(-50%);

    @media (min-width: variables.$tablet-width) {
      display: none;
    }
  }
}

.main-header__container {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    align-items: flex-end;
  }
}

.main-header__logo {
  display: flex;
  min-height: 66px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: variables.$mobile-width-only) {
    padding-left: 90px;
    background: url("../img/icon/icon-logo-mobile-header.svg") no-repeat center left;
    margin: 0 auto;
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 52px;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 59px;
  }
}

.main-header__logo img {
  width: 101px;
  height: 66px;

  @media (min-width: variables.$tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 202px;
    height: 59px;
  }
}
