@use "../variables.scss";

.main-header {
  min-height: 66px;

  @media (min-width: variables.$tablet-width) {
    min-height: 52px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 109px;
  }
}

.main-header__logo {
  display: flex;
  min-height: 66px;
}

.main-header__logo img {
  margin: 0 auto;
}
