@use "../mixins.scss";
@use "../variables.scss";

.product-list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 140px 60px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 142px 80px;
  }
}

.product-list__item {
  position: relative;
  margin-bottom: 19px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(100% + 11px);
    left: 50%;
    display: block;
    height: 1px;
    width: 100vw;
    background-color: #d9d9d9;
    transform: translateX(-50%);

    @media (min-width: variables.$tablet-width) {
      display: none;
    }
  }

  &:first-child {
    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: 50%;
      display: block;
      height: 1px;
      width: 100vw;
      background-color: #d9d9d9;
      transform: translateX(-50%);

      @media (min-width: variables.$tablet-width) {
        display: none;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;

    &::before {
      display: none;
    }

    &::after {
      top: calc(100% + 25px);
    }
  }
}
