@use "../variables.scss";

.questionary {
  padding: 27px 0 32px 0;
  overflow: hidden;

  @media (min-width: variables.$tablet-width) {
    padding: 61px 0 72px 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 78px 0 82px 0;
  }
}

.questionary__container {
  @media (min-width: variables.$tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.questionary__title {
  line-height: 36px;
  margin-bottom: 37px;

  @media (min-width: variables.$tablet-width) {
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 56px;
  }

  &--group-title {
    position: relative;
    display: block;
    max-width: 207px;
    font-size: 24px;
    line-height: 26px;
    padding-right: 20px;
    margin-bottom: 35px;
    background-color: #ffffff;

    @media (min-width: variables.$tablet-width) {
      max-width: 600px;
      font-size: 36px;
      line-height: 36px;
      padding: 0 40px;
      margin-left: -40px;
      margin-bottom: 76px;
    }

    @media (min-width: variables.$desktop-width) {
      max-width: 800px;
      min-width: 250px;
    }

    &::before {
      position: absolute;
      top: 16px;
      display: block;
      height: 2px;
      width: 100vw;
      background-color: #68b738;
      z-index: -1;

      @media (min-width: variables.$tablet-width) {
        content: "";
        top: 20px;
        left: -700px;
      }

      @media (min-width: variables.$desktop-width) {
        content: "";
        left: -1000px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      left: 100%;
      display: block;
      height: 2px;
      width: 100vw;
      background-color: #68b738;
      z-index: -1;

      @media (min-width: variables.$tablet-width) {
        top: 20px;
      }
    }
  }
}

.questionary__group .questionary__title--additional {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 57px;
  }
}

.questionary__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.questionary__group {
  border: none;
  padding: 0;
  margin: 0;

  &--half-screen {
    @media (min-width: variables.$desktop-width) {
      width: 568px;
    }
  }
}

.questionary__field-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: variables.$tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-bottom: 20px;
    }
  }

  &:last-child {
    margin-bottom: 24px;

    @media (min-width: variables.$tablet-width) {
      margin-bottom: 70px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-bottom: 0;
    }
  }

  &--email {
    @media (min-width: variables.$desktop-width) {
      width: 536px;
    }
  }

  &--phone {
    @media (min-width: variables.$desktop-width) {
      width: 572px;
    }
  }

  &--email .questionary__field-title,
  &--phone .questionary__field-title {
    @media (min-width: variables.$tablet-width) {
      margin-right: 20px;
    }
  }

  &--email .questionary__field {
    padding-left: 12px;

    @media (min-width: variables.$tablet-width) {
      padding-left: 20px;
    }
  }

  &--phone .questionary__field {
    padding-left: 12px;
    padding-right: 40px;

    @media (min-width: variables.$tablet-width) {
      padding-left: 20px;
      margin-right: 20px;
    }
  }

  &--email .questionary__field-wrapper {
    mask-image: url("../img/icon/email.svg");
  }

  &--phone .questionary__field-wrapper {
    mask-image: url("../img/icon/phone.svg");
  }

  &:hover .questionary__field {
    border-color: #cdcdcd;
  }

  &:focus .questionary__field {
    border: 2px solid #444444;
  }

  &:hover .questionary__field:disabled,
  &:hover .questionary__field--disabled,
  &:active .questionary__field:disabled,
  &:active .questionary__field--disabled,
  &:focus .questionary__field:disabled,
  &:focus .questionary__field--disabled {
    border-color: #ff8282;
    outline: none;
  }

  &--email:hover .questionary__field-wrapper,
  &--phone:hover .questionary__field-wrapper {
    background-color: #68b738;
  }
}

.questionary__field-wrapper {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 18px;
  mask-size: 20px 20px;
  background-color: #000000;
  transform: translateY(-50%);

  @media (min-width: variables.$tablet-width) {
    right: 15px;
  }
}

.questionary__group .questionary__field-container--email {
  @media (min-width: variables.$desktop-width) {
    margin-bottom: 0;
  }
}

.questionary__form-container {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
  }
}

.questionary__field-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 15px;
  }
}

.questionary__field {
  height: 45px;
  flex-grow: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding: 14px 20px;
  border: 1px solid #e7e7e7;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
    padding: 11px 20px;
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    text-transform: uppercase;

    @media (min-width: variables.$tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:disabled,
  &--disabled {
    border: 2px solid #ff8282;
    background-color: transparent;
    cursor: default;

    &:hover {
      border: 2px solid #ff8282;
    }
  }

  &:disabled + .questionary__field-wrapper,
  &--disabled + .questionary__field-wrapper {
    background-color: #ff8282;
  }

  &:disabled:hover + .questionary__field-wrapper,
  &--disabled:hover + .questionary__field-wrapper {
    background-color: #ff8282;
  }
}

textarea.questionary__field {
  width: 100%;
  height: 150px;
  padding: 10px 13px;
  margin-bottom: 23px;

  @media (min-width: variables.$tablet-width) {
    height: 174px;
    padding: 10px 20px;
    margin-bottom: 59px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 63px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }
}

.questionary__button-container {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    align-items: center;
  }
}

.questionary__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;

  @media (min-width: variables.$tablet-width) {
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-right: 64px;
    margin-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 568px;
    margin-right: 84px;
  }
}

.questionary__footnote {
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
  }
}
