@use "../mixins.scss";
@use "../variables.scss";

.radio {
  @include mixins.list-reset;
  padding: 22px 0 19px 0;
  margin-bottom: 26px;
}

.radio__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.radio__item:not(:last-child) {
  margin-bottom: 13px;
}

@media (min-width: variables.$tablet-width) {
  .radio {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
    margin-bottom: 75px;
  }
}

@media (min-width: variables.$desktop-width) {
  .radio {
    margin-bottom: 0;
  }
}
