@use "../mixins.scss";

.site-list {
  @include mixins.list-reset;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 500;
}

.site-list__item {
  text-align: center;
}

.site-list a {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 22px 48px;
  background-color: #ffffff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -20px;
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: #e6e6e6;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 100%;
  }
}
