@use "../mixins.scss";
@use "../variables.scss";

.site-list {
  @include mixins.list-reset;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 500;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item {
  position: relative;
  text-align: center;
}

.site-list a {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 22px 48px;
  background-color: #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 10px;
    margin-right: 14px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 8px;
    margin-right: 26px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;

    @media (min-width: variables.$tablet-width) {
      display: none;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 100%;
  }
}

.site-list--secondary a {
  @media (min-width: variables.$desktop-width) {
    color: #ffffff;
    background-color: transparent;
  }
}

.site-list .site-list__item:last-child a {
  margin: 0;
}

.site-list .site-list__item--current::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 100%;
  display: block;
  width: calc(100% - 34px);
  height: 2px;
  background-color: #68b738;

  @media (min-width: variables.$desktop-width) {
    left: 8px;
    width: calc(100% - 42px);
  }
}

.site-list--secondary .site-list__item--current::after {
  background-color: #ffffff;
}

.site-list .site-list__item:last-child.site-list__item--current::after {
  width: calc(100% - 20px);

  @media (min-width: variables.$desktop-width) {
    width: calc(100% - 16px);
  }
}
