@use "../mixins.scss";
@use "../variables.scss";

.site-list {
  @include mixins.list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 500;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item {
  position: relative;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin-right: 35px;
  }

  &:last-child {
    margin: 0;
  }
}

.site-list a {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 22px 48px;
  background-color: #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 18px 0 10px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 8px 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #e6e6e6;
    transform: translateX(-50%);

    @media (min-width: variables.$tablet-width) {
      display: none;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 100%;
  }
}

.site-list--secondary a {
  @media (min-width: variables.$desktop-width) {
    color: #ffffff;
    background-color: transparent;
  }
}

.site-list .site-list__item--current::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  width: 100%;
  height: 2px;
  background-color: #68b738;

  @media (min-width: variables.$tablet-width) {
    display: block;
  }
}

.site-list--secondary .site-list__item--current::after {
  @media (min-width: variables.$desktop-width) {
    background-color: #ffffff;
  }
}
