/* Lato */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
/* Oswald */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  min-width: 320px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.page__content-container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: inherit;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 768px) {
  .page__content-container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page__content-container {
    width: 1440px;
    padding: 0 110px;
  }
}
.button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding: 14px 26px;
  text-decoration: none;
  text-align: center;
  border: none;
}
.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
}

.food-type {
  padding-bottom: 20px;
}

.food-type__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.food-type__item {
  background-color: #f2f2f2;
  padding: 21px 32px 18px 21px;
}

.food-type__item:not(:last-child) {
  margin-bottom: 30px;
}

.food-type__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.food-type__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 4px 47px 4px 0;
  text-decoration: none;
}

@media (min-width: 768px) {
  .food-type__item {
    padding: 77px 61px 53px 53px;
  }

  .food-type__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .food-type__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 30px;
  }

  .food-type__item {
    width: 570px;
    padding: 41px 61px 55px 52px;
    margin: 0;
  }

  .food-type__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.example {
  background-color: #eaeaea;
  padding: 25px 0 40px 0;
}

.example__achievement {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 8px;
}

.example__achievement-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #eaeaea;
  text-align: center;
  margin: 0;
}

.example__total {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
}

.example__item {
  width: 124px;
  padding: 15px 22px 0 22px;
}

@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__item {
    width: 162px;
    padding: 15px 30px 0 30px;
  }

  .example__achievement-description {
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example__main-container {
    display: flex;
  }

  .example__container {
    width: 436px;
    margin-right: 224px;
  }

  .example__wrapper {
    display: block;
  }

  .example__list {
    justify-content: stretch;
  }

  .example__item:nth-child(2n+1) {
    margin-right: 42px;
  }
}
.main-footer {
  background-color: #f2f2f2;
  padding-bottom: 40px;
}

.main-footer__developer-logo {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
}

.address {
  background-color: #f2f2f2;
  padding: 26px 0;
}
.address--secondary {
  background-color: #ffffff;
}

.address__slogan {
  width: 139px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.address__building,
.address__city {
  width: 139px;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
  margin: 0;
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
}

.address__map {
  width: 100%;
}

@media (min-width: 768px) {
  .address__slogan {
    width: 172px;
  }

  .address__building,
.address__city {
    width: 160px;
  }
}
@media (min-width: 1440px) {
  .address__slogan {
    width: 163px;
  }

  .address__building,
.address__city {
    width: 175px;
  }

  .address {
    width: 565px;
    background-color: #ffffff;
  }
}
.product-card {
  background-color: #ffffff;
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.product-card__description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: 768px) {
  .product-card {
    display: block;
    width: 324px;
    background-color: #f2f2f2;
  }
  .product-card--secondary {
    background-color: transparent;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 768px) {
  .product-card {
    width: 245px;
  }
}
.additional-offer {
  padding-bottom: 35px;
}

.additional-offer__container {
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background-image/additional-offer.jpg");
  background-size: cover;
  padding: 188px 62px 44px 58px;
}

.additional-offer__description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: 1440px) {
  .additional-offer {
    width: 245px;
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 500;
}

.site-list__item {
  text-align: center;
}

.site-list__item a {
  color: #000000;
  text-decoration: none;
}

.food {
  position: relative;
  padding: 27px 0 20px 0;
}

.food__wrapper {
  position: absolute;
  top: 0;
  left: -20px;
  display: block;
  width: 320px;
  height: 302px;
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background-image/food.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.food__title {
  color: #ffffff;
  line-height: 36px;
  text-align: center;
}

.food__subtitle {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.food__button {
  width: 280px;
  height: 40px;
}

@media (min-width: 768px) {
  .food__wrapper {
    display: none;
  }

  .food__title,
.food__subtitle {
    color: #000000;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .food {
    height: 696px;
  }

  .food__wrapper {
    display: block;
    left: 50%;
    width: 720px;
    height: 694px;
  }

  .food__title,
.food__subtitle {
    max-width: 50%;
  }
}
.how-it-works {
  padding-bottom: 50px;
}

.how-it-works__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.how-it-works__count {
  display: none;
}

.how-it-works__description {
  color: #444444;
  padding-left: 80px;
}

@media (min-width: 768px) {
  .how-it-works__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 38px;
  }

  .how-it-works__item {
    width: 230px;
    margin-right: 124px;
  }

  .how-it-works__description {
    padding: 0;
  }

  .how-it-works__count {
    display: block;
  }
}
@media (min-width: 1440px) {
  .how-it-works__item {
    margin: 0;
  }

  .how-it-works__item:first-child {
    width: 230px;
    margin-right: 94px;
  }

  .how-it-works__item:nth-child(2) {
    width: 246px;
    margin-right: 77px;
  }

  .how-it-works__item:nth-child(3) {
    width: 246px;
    margin-right: 77px;
  }

  .how-it-works__item:nth-child(4) {
    width: 250px;
  }
}
.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionary {
  padding: 27px 0 32px 0;
}

.questionary__title {
  line-height: 36px;
  margin-bottom: 37px;
}
.questionary__title--group-title {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}

.questionary__group {
  border: none;
  padding: 0;
  margin: 0;
}

.questionary__description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.questionary__field-container:not(:last-child) {
  margin-bottom: 14px;
}

.questionary__field-container:last-child {
  margin-bottom: 24px;
}

.questionary__field-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.questionary__button {
  margin-bottom: 21px;
}

.questionary__footnote {
  line-height: 16px;
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .questionary {
    padding: 65px 0 72px 0;
  }

  .questionary__title {
    margin-bottom: 54px;
  }
  .questionary__title--group-title {
    margin-bottom: 76px;
  }

  .questionary__description {
    margin-bottom: 66px;
  }

  .questionary__field-container:not(:last-child) {
    margin-bottom: 20px;
  }

  .questionary__field-container:last-child {
    margin-bottom: 72px;
  }

  .questionary__button {
    margin-right: 64px;
    margin-bottom: 0;
  }

  .questionary__button-container {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .questionary {
    padding: 74px 0 82px 0;
  }

  .questionary__title {
    margin-bottom: 56px;
  }

  .questionary__field-container:last-child {
    margin-bottom: 0;
  }

  .questionary__form-container {
    display: flex;
    margin-bottom: 68px;
  }

  .questionary__button {
    margin-right: 84px;
  }

  .questionary__group--half-screen {
    width: 50%;
  }

  .questionary__field-container--half-screen {
    width: 50%;
  }
}
.radio {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 22px 0 19px 0;
  margin-bottom: 26px;
}

.radio__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.radio__item:not(:last-child) {
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .radio {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
    margin-bottom: 75px;
  }
}
@media (min-width: 1440px) {
  .radio {
    margin-bottom: 0;
  }
}
.checkbox {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 34px;
}

.checkbox__item:not(:last-child) {
  margin-bottom: 13px;
}

.checkbox__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 768px) {
  .checkbox {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    margin-bottom: 54px;
  }

  .checkbox__item {
    display: inline-block;
    width: 221px;
  }

  .checkbox__item:nth-child(2n+1) {
    margin-right: 123px;
  }
}
@media (min-width: 1440px) {
  .checkbox__item {
    width: auto;
    margin-bottom: 61px;
  }

  .checkbox__item:nth-child(1) {
    margin-right: 104px;
  }

  .checkbox__item:nth-child(2) {
    margin-right: 136px;
  }

  .checkbox__item:nth-child(3) {
    margin-right: 197px;
  }
}
.catalog-products {
  padding: 27px 0 25px 0;
}

.catalog-products__title {
  line-height: 36px;
  margin-bottom: 49px;
}

@media (min-width: 768px) {
  .catalog-products__title {
    margin-bottom: 82px;
  }
}
@media (min-width: 1440px) {
  .catalog-products__title {
    margin-bottom: 84px;
  }
}
.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-list__item:not(:last-child) {
  margin-bottom: 19px;
}

.product-list__item:last-child {
  padding-top: 17px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (min-width: 768px) {
  .product-list {
    gap: 63px 80px;
  }
}
.additional-product {
  padding: 25px 0 36px 0;
}

.additional-product__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 49px;
}

@media (min-width: 768px) {
  .additional-product__title {
    margin-bottom: 80px;
  }

  .additional-product__list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .additional-product__title {
    margin-bottom: 81px;
  }

  .additional-product__list {
    margin-bottom: 0;
  }

  .additional-product__container {
    display: flex;
    justify-content: space-between;
  }
}
.additional-product-card__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-product-card__description,
.additional-product-card__price {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .additional-product-list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .additional-product-list {
    width: 896px;
    margin-bottom: 0;
  }
}
.main-header {
  padding: 10px 0 18px 0;
  height: 66px;
}

@media (min-width: 768px) {
  .main-header {
    min-height: 54px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    min-height: 109px;
  }
}
.logo {
  display: block;
}
/*# sourceMappingURL=style.css.map */