.button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding: 14px 26px;
  text-decoration: none;
  text-align: center;
  border: none;
}
